#income-text{
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 20px;
  max-width: 180px;
}

#loan-text{
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 20px;
  max-width: 180px;
}

#interest-text{
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 20px;
  max-width: 180px;
}

#sign1{
  font-size: 40px;
}

#sign2{
  font-size: 40px;
}

#sign3{
  font-size: 40px;
}

#income{
  font-size: 40px;
  max-width: 140px;
  margin-top: 4px;
  text-align: center;
}

#loan{
  font-size: 40px;
  max-width: 140px;
  margin-top: 4px;
  text-align: center;
}

#interest{
  font-size: 40px;
  max-width: 140px;
  margin-top: 4px;
  text-align: center;
}

#paymentText{
  max-width: 180px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: -30px;
}

#allPayText{
  max-width: 180px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: -30px;
}

#leftoverText{
  max-width: 180px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: -30px;
}

/*payment output*/
#payment{
  font-weight: bold;
  font-size: 40px;
  background-color: orange;
  max-width: 180px;
  text-align: center;
  border: 0px;
  border-radius: 5px;
}

#allPay{
  font-weight: bold;
  font-size: 40px;
  background-color: orange;
  max-width: 180px;
  text-align: center;
  border: 0px;
  border-radius: 5px;
}

#leftover{
  font-weight: bold;
  font-size: 40px;
  background-color: orange;
  max-width: 180px;
  text-align: center;
  border: 0px;
  border-radius: 5px;
}

#avgPayment{
  margin: -20px 0 20px 0;
  max-width: 180px;
  text-align: center;
}

